<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Suite">
  <test thread-count="5" name="RestAPITest">
    <classes>
      <class name="APITesting.com.org.api.WeatherGetRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
